@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar ki styling change krne k liye.. */
::-webkit-scrollbar{
    width:7px ;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}
/* Hides the scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  